.venv/
__pycache__/
*.pyc
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.env
.DS_Store!data/processed/votos_2026.csv
!data/processed/detalhe_2026.csv
!data/processed/zonas_locais.csv
!data/processed/aracaju/
